{{extend './component/layout.html'}}

{{block 'body'}}
<ul class="list-group">
    <li class="flex items-center h-20   list-group-item">
        <div class="h-14" id="left">
            <img class="h-full" src="../public/images/head_icon.jpg" alt="">
        </div>
        <div class="ml-3" id="right">
            <span class="block text-blue-500">Media heading</span>
            <span class="block">content content content content content</span>
        </div>
    </li>
    <li class="flex items-center h-20   list-group-item">
        <div class="h-14" id="left">
            <img class="h-full" src="../public/images/head_icon.jpg" alt="">
        </div>
        <div class="ml-3" id="right">
            <span class="block text-blue-500">Media heading</span>
            <span class="block">content content content content content</span>
        </div>
    </li>
    <li class="flex items-center h-20   list-group-item">
        <div class="h-14" id="left">
            <img class="h-full" src="../public/images/head_icon.jpg" alt="">
        </div>
        <div class="ml-3" id="right">
            <span class="block text-blue-500">Media heading</span>
            <span class="block">content content content content content</span>
        </div>
    </li>
    <li class="flex items-center h-20   list-group-item">
        <div class="h-14" id="left">
            <img class="h-full" src="../public/images/head_icon.jpg" alt="">
        </div>
        <div class="ml-3" id="right">
            <span class="block text-blue-500">Media heading</span>
            <span class="block">content content content content content</span>
        </div>
    </li>
    <li class="flex items-center h-20   list-group-item">
        <div class="h-14" id="left">
            <img class="h-full" src="../public/images/head_icon.jpg" alt="">
        </div>
        <div class="ml-3" id="right">
            <span class="block text-blue-500">Media heading</span>
            <span class="block">content content content content content</span>
        </div>
    </li>
    <li class="flex items-center h-20   list-group-item">
        <div class="h-14" id="left">
            <img class="h-full" src="../public/images/head_icon.jpg" alt="">
        </div>
        <div class="ml-3" id="right">
            <span class="block text-blue-500">Media heading</span>
            <span class="block">content content content content content</span>
        </div>
    </li>
    <li class="flex items-center h-20   list-group-item">
        <div class="h-14" id="left">
            <img class="h-full" src="../public/images/head_icon.jpg" alt="">
        </div>
        <div class="ml-3" id="right">
            <span class="block text-blue-500">Media heading</span>
            <span class="block">content content content content content</span>
        </div>
    </li>
    <li class="flex items-center h-20   list-group-item">
        <div class="h-14" id="left">
            <img class="h-full" src="../public/images/head_icon.jpg" alt="">
        </div>
        <div class="ml-3" id="right">
            <span class="block text-blue-500">Media heading</span>
            <span class="block">content content content content content</span>
        </div>
    </li>
    <li class="flex items-center h-20   list-group-item">
        <div class="h-14" id="left">
            <img class="h-full" src="../public/images/head_icon.jpg" alt="">
        </div>
        <div class="ml-3" id="right">
            <span class="block text-blue-500">Media heading</span>
            <span class="block">content content content content content</span>
        </div>
    </li>
</ul>
{{/block}}