<div class="flex h-24 w-full items-center border-b-2 bg-gray-200">
    <img class="h-12 ml-4" src="../../public/images/header_logo.png" alt="logo">
    <input type="text" class="mr-96 w-1/5 h-12 ml-8 form-control" placeholder="Search" aria-label="Username"
        aria-describedby="basic-addon1">
    <button type="button" class="h-10 w-20 ml-96 btn btn-light">发起</button>
    <a class="h-10 w-20 bg-blue-700 mx-1.5 btn btn-primary" href="/login" role="button">登录 </a>
    <a class="h-10 w-20 bg-green-600 btn btn-primary" href="/register" role="button">注册</a>
</div>